body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 12px;
}

header h1 {
  font-family: "Monoton";
  font-size: 4.25rem;
  color: white;
}

.card {
  padding: 5px;
}

.card-header {
  font-size: 1.5rem;
}

.card-body {
  font-size: 1.2rem;
}

img {
  max-height: 200px;
}

.borderbottom-min {
  border-bottom: 2px solid white !important;
}

.borderleft-min {
  border-left: 2px solid white !important;
}

.border-success-min {
  border: 5px solid #28a745 !important;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
