body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 12px;
}

header h1 {
  font-family: "Monoton";
  font-size: 4.25rem;
  color: white;
}

.card {
  padding: 5px;
}

.card-header {
  font-size: 1.3rem;
}

.card-body {
  font-size: 1.2rem;
}

img {
  max-height: 200px;
}

.borderbottom-min {
  border-bottom: 2px solid white !important;
}

.borderleft-min {
  border-left: 2px solid white !important;
}

.border-success-min {
  border: 5px solid #28a745 !important;
}

.border-danger-min {
  border: 5px solid red !important;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.GameOver p {
  font-size: 10rem;
  color: white;
}

#PlayAgain-btn,
#PlayAgain-btn1 {
  font-size: 3rem;
}

.Winning p {
  font-size: 10rem;
  color: white;
}

/* @media screen and (min-width: 1200px) {
  .card-header {
    font-size: 1.2rem;
  }
} */

@media screen and (min-width: 996px) and (max-width: 1199px) {
  .card-header {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 767px) and (max-width: 995px) {
  .card-header {
    font-size: 0.7rem;
  }
}
